{% extends 'base.html' %}
{% block title %}Iniciar sesión{% endblock %}

{% block content %}
<div class="contenedor">
  <h1 class="mt-5">Iniciar sesión</h1>
  {% if form.errors %}
    <div class="alert alert-danger" role="alert">
      Nombre de usuario o contraseña incorrectos
    </div>
  {% endif %}
  <form method="post">
    {% csrf_token %}
    <div class="mb-3 mt-5">
      <label for="exampleInputEmail1" class="form-label">Nombre de usuario</label>
      {{ form.username }}
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Contraseña</label>
      {{ form.password }}
    </div>
    <button type="submit" class="btn btn-primary">Entrar</button>
</div>
{% endblock %}
