{% extends 'base.html' %}
{% load static %}
{% block title %}Publicaciones{% endblock %}

{% block content %}
<div class="contenedor">
    <h1 class="mt-5 display-4">Publicaciones</h1>
    <a href="{% url 'crear_publicacion' %}" class="btn btn-outline-primary">Nueva publicacion</a>
    <ul>
        {% for publicacion in publicaciones %}
            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title">{{ publicacion.titulo }}</h5>
                    <p class="card-text">{{ publicacion.contenido }}</p>
                    <p class="card-text"><small class="text-muted">Publicado por {{ publicacion.autor.username }} el {{ publicacion.fecha_publicacion|date:"d/m/Y H:i" }}</small></p>
                    {% if request.user == publicacion.autor %}
                        <a href="{% url 'editar_publicacion' publicacion.pk %}" class="btn btn-outline-secondary">Editar</a>
                        <a href="{% url 'eliminar_publicacion' publicacion.pk %}" class="btn btn-outline-danger">Eliminar</a>
                    {% endif %}
                </div>
            </div>
        {% empty %}
            <li class="list-group-item">No hay publicaciones disponibles.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}